---
export interface Props {
   btn1: string,
   btn2: string,
   title: string,
   span: string,
   subtitle: string
   btn1Src: string
   btn2Src: string
} 
const { title, subtitle, span,  btn1, btn2, btn1Src, btn2Src } = Astro.props
---

<div class="content2-container">
    <div class="content-wrap">
        <h1>{title} <span>{span}</span></h1>
      <p>{subtitle}</p>
    </div>
    <div class="btn-wrap">
    <a href={btn1Src} class="btn-stroke-yellow">{btn1}</a>
    <a href={btn2Src} class="btn-line-blue">{btn2}</a>
    </div>
</div>


<style>
  .content2-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: start;
    justify-content: center;
    padding-inline-start: 7rem;

  }
  .btn-wrap {
    display: flex;
    gap: 2.3rem
    
  }
  span {
    color:#0080F9;
    font-family: 'Poppins light';
  }

</style>
