---
import { Icon } from "astro-icon";
import "./Card.scss";

export interface props {
  title: string;
  subtitle: string;
  feature1: string;
  feature2: string;
  feature3: string;
  btn: string;
  btnSrc: string;
  img: string;
  size: string;
  featureSort: string;
  newTab: string;
  bgc?: string;
  display?: string;
  imgAlt: string;
}

const p = Astro.props;
const { bgc = "var(--accent1)" } = Astro.props;
---

<div style={{ width: p.size }} class="card-container">
  <div style={{ backgroundColor: bgc }} class="top">
    <img src={p.img} alt={p.imgAlt} />
  </div>
  <div class="bottom">
    <div class="title-wrap">
      <h3>{p.title}</h3>
      <p>{p.subtitle}</p>
    </div>
    <div style={{ flexdirection: p.featuresort }} class="feature-wrap">
      <div class="feature">
        <Icon name="approve" />
        <p class="feature">{p.feature1}</p>
      </div>
      <div class="feature">
        <Icon name="approve" />
        <p class="feature">{p.feature2}</p>
      </div>
      <div class="feature">
        <Icon name="approve" />
        <p class="feature">{p.feature3}</p>
      </div>
    </div>
    <div class="btn" style={{ display: p.display }}>
      <a class="btn-stroke-blue-heavy" href={p.btnSrc}>{p.btn}</a>
    </div>
  </div>
</div>
