---
import "../../styles/Bookkeeping.scss";
import Content2 from "../Content/Content2.astro";
import Icon from "astro-icon";

export interface props {
  bkeepTitle: string;
  bkeepSubTitle: string;
  bkeepSpan: string;
  bkeepConsaltBtn: string;
  bkeepBtn: string;
  bkeepBtnSrc: string;
  auditTitle: string;
  auditSubTitle: string;
  auditSpan: string;
  auditConsaltBtn: string;
  auditBtn: string;
  auditBtnSrc: string;
}

const p = Astro.props;
---

<section>
  <div class="book-container">
    <div class="upper-col">
      <div class="start-col">
        <Icon name="arrow-solid" />
        <Content2
          span={p.bkeepSpan}
          title={p.bkeepTitle}
          subtitle={p.bkeepSubTitle}
          consaltBtn={p.bkeepBn1}
          btn={p.bkeepBtn2}
          btnSrc={p.bkeepBtn2Src}
        />
      </div>

      <div class="end-col">
        <div class="bgc">
          <img src="/home/bk1.png" alt="" />
        </div>
      </div>
    </div>

    <div class="lower-col">
      <div class="start-col1">
        <Content2
          span={p.auditSpan}
          title={p.auditTitle}
          subtitle={p.auditSubTitle}
          consaltBtn={p.auditBn1}
          btn={p.auditBtn2}
          btnSrc={p.auditBtn2Src}
        />
      </div>
      <div class="end-col1">
        <div class="bgc">
          <img src="/home/bk2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
