---
import "../../styles/hero.scss";
import Button from "../Modal/Button";
import HeroSlider from "../Slider/HeroSlider.astro";

export interface props {
  title: string;
  span: string;
  subtitle: string;
  consaltBtn: string;
  btn: string;
  btnSrc: string;
}

const p = Astro.props;
---

<div class="hero-container">
  <div class="child left-col">
    <div class="content-col">
      <div class="content-wrap">
        <div class="head">
          <h1>{p.title}<span>{p.span}</span></h1>
        </div>
        <p>{p.subtitle}</p>
        <div class="content_btns">
          <a href={p.btnSrc} class="btn-stroke-yellow">{p.btn}</a>
          <Button className="btn-line-blue" client:load>
            {p.consaltBtn}
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="child right-col">
    <HeroSlider />
  </div>
</div>
