---
import Card from "../Card/Card.astro";
import Content1 from "../Content/Content1.astro";
import "../../styles/TaxSection.scss";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <div class="container">
    <Content1
      tag={t("home.ourServices.tag")}
      title={t("home.ourServices.title")}
      subtitle={t("home.ourServices.subtitle")}
      titleColor="white"
      subtitleColor="white"
    />
    <div class="card-wrap">
      <Card
        title={t("home.ourServices.accounting.title")}
        subtitle={t("home.ourServices.accounting.subtitle")}
        feature1={t("home.ourServices.accounting.feature1")}
        feature2={t("home.ourServices.accounting.feature2")}
        feature3={t("home.ourServices.accounting.feature3")}
        img="/home/accounting.webp"
        btn={t("home.ourServices.accounting.btn")}
        btnSrc={`/${lang}/services/accounting`}
        bgc="var(--accent2)"
        size="40%"
      />
      <Card
        title={t("home.ourServices.taxes.title")}
        subtitle={t("home.ourServices.taxes.subtitle")}
        feature1={t("home.ourServices.taxes.feature1")}
        feature2={t("home.ourServices.taxes.feature2")}
        feature3={t("home.ourServices.taxes.feature3")}
        img="/home/taxes.webp"
        btn={t("home.ourServices.taxes.btn")}
        btnSrc={`/${lang}/services/texes`}
        size="40%"
      />
      <Card
        title={t("home.ourServices.courses.title")}
        subtitle={t("home.ourServices.courses.subtitle")}
        feature1={t("home.ourServices.courses.feature1")}
        feature2={t("home.ourServices.courses.feature2")}
        feature3={t("home.ourServices.courses.feature3")}
        img="/home/courses.webp"
        btn={t("home.ourServices.courses.btn")}
        btnSrc={`/${lang}/about`}
        bgc="var(--prim3-light)"
        size="40%"
      />
      <Card
        title={t("home.ourServices.programs.title")}
        subtitle={t("home.ourServices.programs.subtitle")}
        feature1={t("home.ourServices.programs.feature1")}
        feature2={t("home.ourServices.programs.feature2")}
        feature3={t("home.ourServices.programs.feature3")}
        img="/home/programs.webp"
        btn={t("home.ourServices.programs.btn")}
        btnSrc={`/${lang}/contact`}
        bgc="var(--prim3)"
        size="40%"
      />
    </div>
    <div class="btn-wrap">
      <h3>See All Of Our Services</h3>
      <div class="btns-wrapper">
        <a
          href=`/${lang}/services`
          class="all-services btn-stroke-yellow"
          style="">All Services</a
        >
      </div>
    </div>
  </div>
</section>
