---
import '../styles/PartnersSlider.scss';
import { client1, client2, client3, client4 } from '../../public'
---


<section class="partners-slider">
  <div class="slider-container">
    <div class="slider">
      <div class="slide"><img src={client1} alt=""></div>
      <div class="slide"><img src={client2} alt=""></div>
      <div class="slide"><img src={client3} alt=""></div>
      <div class="slide"><img src={client4} alt=""></div>
    </div>
    <div class="slider">
      <div class="slide"><img src={client1} alt=""></div>
      <div class="slide"><img src={client2} alt=""></div>
      <div class="slide"><img src={client3} alt=""></div>
      <div class="slide"><img src={client4} alt=""></div>
    </div>
  </div>

</section>
